.signup-footer {
    padding: 1em;
    margin: 2em 0;
    background: $bright-color;
    color: white;

    div {
        margin: 1em 0;
    }

    input[type='email'] {
        font-size: 20px;
        padding: 0.4em;
    }

    input[type='submit'] {
        font-size: 20px;
        padding: 0.5em;
        border: solid 2px white;
        background: #3b9657;
        color: white;
        font-weight: bold;
        cursor: pointer;
    }
}
