{%- if page.title -%}
  {%- assign seo_title = page.title | append: " " | append: title_separator | append: " " | append: site.title -%}
{%- endif -%}


<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{ page.title }} | {{ site.title }}</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="/assets/css/mvp.css"/>
    <link rel="stylesheet" href="/assets/css/style.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <header>
        {% include nav.html nav="main" %}
    </header>
    <main>
        {{ content }}
    </main>
    <footer>
        <hr>
        <p>My other sites: <a href="https://tomd.xyz">Tom D's Tech Blog</a> | <a href="http://kb.tomd.xyz">Knowledge Base</a> | <a href="http://www.cheeseanalogue.com">DJ Cheese Analogue</a></p>
    </footer>
</body>

</html>