---
layout: default
---

{% if page.header.image contains "://" %}
  {% capture img_path %}{{ page.header.image }}{% endcapture %}
{% else %}
  {% capture img_path %}{{ page.header.image | relative_url }}{% endcapture %}
{% endif %}

<section>
    <article itemscope itemtype="http://schema.org/CreativeWork">
        {% if page.title %}<meta itemprop="headline" content="{{ page.title | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
        {% if page.excerpt %}<meta itemprop="description" content="{{ page.excerpt | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
        {% if page.date %}<meta itemprop="datePublished" content="{{ page.date | date: "%d %B %Y" }}">{% endif %}
        {% if page.last_modified_at %}<meta itemprop="dateModified" content="{{ page.last_modified_at | date: "%B %d, %Y" }}">{% endif %}

        <header>
            <h1>{{ page.title | markdownify | remove: "<p>" | remove: "</p>" }}</h1>
            {% if page.date %}<p>{{ page.date | date: "%d %B %Y" }}</p>{% endif %}

            <figure>
                <img src="{{ img_path }}" alt="{{ page.title | strip_html }}"/>
            </figure>
        </header>

        {{ content }}
    </article>
</section>